<!-- jumbotron image display -->
<div class="container-fluid" id="bcgJobs">
  <!-- nav starts -->
  <nav class="navbar">
    <a href="/">HOME</a>
    <a href="/jobs">JOB PORTAL</a>
    <a href="/status">STATUS PORTAL</a>
    <a href="/admin">ADMIN PORTAL</a>
  </nav>
  <!-- nav ends -->

  <!-- end text title -->

  <!-- end of container fluid -->

  <!-- container fot job search -->
  <div class="container-fluid" id="search-container">

    <h1 class="display-4 dream-job">Find your dream job!</h1>
    <p class="lead alt" id="textSub-status">
      View all jobs, current status of the applciation, option to remove/accept job offer, save your favorite
      jobs!
    </p>

    <div class="form-group" id="search-form">
      <label for="exampleFormControlSelect1">Location</label>
      <select class="form-control form-jobsearch" id="ddLocation">
        {{!-- handlebars for location --}}
        {{#each locations}}
<<<<<<< HEAD
        <option data-id="{{this.id}}">{{this.location}}</option>
=======
        <option id="{{this.id}}">{{this.location}}</option>
>>>>>>> fa6a6f42cf84c4bd01e89f8bcb842748eecbaffd
        {{/each}}
      </select>
       <label for="exampleFormControlSelect1">Skills</label>
      <select class="form-control form-jobsearch" id="ddSkills">
        {{!-- handlebars for skills --}}
        {{#each skills}}
<<<<<<< HEAD
        <option data-id="{{this.id}}">{{this.skill}}</option>
=======
        <option id="{{this.id}}">{{this.skill}}</option>
>>>>>>> fa6a6f42cf84c4bd01e89f8bcb842748eecbaffd
        {{/each}}
      </select>
    </div>
 
    <div class="form-group" id="search-Div">

      <label for="exampleInputEmail1">Job Title</label>
      <input type="text" class="form-control form-jobtitle" id="jobSearch" aria-describedby="emailHelp" />
    </div>

    <button type="button" class="btn btn-primary" id="search-button">
      <span> <i class="fas fa-search"></i> </span> Find Job
    </button>
<<<<<<< HEAD
     <a class="btn btn-primary" id="search-button" href="/worldmap" target="_blank">Search the Globe</a>
=======
    <a class="btn btn-primary resetButton" id="search-button" href="/jobs">Reset</a>
>>>>>>> fa6a6f42cf84c4bd01e89f8bcb842748eecbaffd
  </div>
  
  <!-- end of container for job search form -->
</div>
<!-- end of nav,jumbotron-fluid,video display -->


<div class="container-fluid" id="flex">
  <!-- first row -->
  <div class="card-deck">
<<<<<<< HEAD
  
=======
>>>>>>> fa6a6f42cf84c4bd01e89f8bcb842748eecbaffd

    {{!-- Handlebars for job search results - might have to delete this  --}}
    {{#each jobResult}}
    <!-- job serach output -->
    <div class="card job-card">
      <h5 class="card-header" style="border-bottom: 1px solid #fff;">{{jobTitle}}</h5>

      <div class="card-body">
        <h5 class="card-title">{{this.locationName}}</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">{{this.jobSkills}}{{this.jobRequirements}}</p>
        <!-- apply btn -->
        <button type="button" id="applyJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Apply">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <!-- save btn -->
        <button type="button" id="saveJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Save">
          <i class="far fa-star fa-2x"></i>
        </button>
      </div>
    </div>
    {{/each}}
  </div>
  <!-- end of first row -->
</div>

<div class="container result-title">
  <h1 class="res-title"><span> Your Search result</span> <a href="#adjust">
      <button class=" btn blink_me2"><i class="fas fa-arrow-down fa-2x"></i></button>
    </a></h1>
</div>



<!-- skill-set container -->
<div class="container-fluid" id="skill-set">


  <!-- second row -->
  <div class="card-deck" id="mainDiv">

                 {{!-- JOBS SEARCH RESULTS --}}

  </div>

  {{!-- TEST ROW - WILL DELETE LATER 
    <div class="card-deck">

      <div class="card job-card " >
      <h5 class="card-header" style="border-bottom: 1px solid #fff;">TEST JOB TITLE</h5>


      <div class="card-body" id="DivTwo">
        <h5 class="card-title">TEST Location</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <!-- apply btn -->
        <button type="button" id="applyJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Apply">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <!-- save btn -->
        <button type="button" id="saveJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Save">
          <i class="far fa-star fa-2x"></i>
        </button>
      </div>
    </div>

  </div>
  --}}
</div>
<!-- end of skill-set container -->

{{!-- jQuery --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- javascript --}}
<script src="/js/jobs.js" type="text/javascript"></script>