<!-- jumbotron image display -->
<div class="container-fluid" id="bcgJobs">
  <!-- nav starts -->
  <nav class="navbar">
    <a href="/">HOME</a>
    <a href="/jobs">JOB PORTAL</a>
    <a href="/status">STATUS PORTAL</a>
    <a href="/admin">ADMIN PORTAL</a>
  </nav>
  <!-- nav ends -->

  <!-- end text title -->

  <!-- end of container fluid -->

  <!-- container fot job search -->
  <div class="container-fluid" id="search-container">

    <h1 class="display-4 dream-job">Find your dream job!</h1>
    <p class="lead alt" id="textSub-status">
      View all jobs, current status of the applciation, option to remove/accept job offer, save your favorite
      jobs!
    </p>

    <div class="form-group" id="search-form">
      <label for="exampleFormControlSelect1">Location</label>
      <select class="form-control form-jobsearch" id="exampleFormControlSelect1">
        {{!-- handlebars for location --}}
        {{#each locations}}
          <option>{{this.locationName}}</option>
        {{/each}}
        {{!-- <option>DC</option>
        <option>Virginia</option>
        <option>Maryland</option>
        <option>New York</option>
        <option>California</option> --}}
      </select>
    </div>
    <div class="form-group" id="search-Div">

      <label for="exampleInputEmail1">Job Title</label>
      <input type="text" class="form-control form-jobtitle" id="jobSearch" aria-describedby="emailHelp" />
    </div>

    <button type="button" class="btn btn-primary" id="search-button">
        <span> <i class="fas fa-search"></i> </span> Find Job
      </button>
  </div>
  <!-- end of container for job search form -->
</div>
<!-- end of nav,jumbotron-fluid,video display -->

<div class="container result-title">
  <h1 class="res-title">Your Search result</h1>
</div>



<!-- skill-set container -->
<div class="container-fluid" id="skill-set">
  
  <!-- first row -->
  <div class="card-deck">
    <!-- skill-set 1 -->
    {{#each skills}}
    <div class="card skill-card">
      <div class="card-body">

        <h5 class="card-title">Skill Set</h5>
        <hr style="background-color: #DC4749">
        <p class="card-text">{{this.skillTitle}}</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div>
    {{/each}}

    {{!-- <div class="card skill-card">
      <!-- skill-set 2 -->
      <div class="card-body">
        <h5 class="card-title">Skill-set title</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div> --}}
    {{#each jobResult}}
    <!-- job serach output -->
    <div class="card job-card">
      <h5 class="card-header" style="border-bottom: 1px solid #fff;">{{jobTitle}}</h5>

      <div class="card-body">
        <h5 class="card-title">{{this.locationName}}</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">{{this.jobSkills}}{{this.jobRequirements}}</p>
        <!-- apply btn -->
        <button type="button" id="applyJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Apply">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <!-- save btn -->
        <button type="button" id="saveJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Save">
          <i class="far fa-star fa-2x"></i>
        </button>
      </div>
    </div>
    {{/each}}
  </div>
  <!-- end of first row -->

  {{!-- <!-- second row -->
  <div class="card-deck">
    <!-- skill-set 3 -->
    <div class="card skill-card">
      <div class="card-body">
        <h5 class="card-title">Skill-set title</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.
          This content is a little bit longer.</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div>
    <div class="card skill-card">
      <!-- skill-set 4 -->
      <div class="card-body">
        <h5 class="card-title">Skill-set title</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div>
    <!-- job serach output 2-->
    <div class="card job-card">
      <h5 class="card-header" style="border-bottom: 1px solid #fff;">Job Title</h5>


      <div class="card-body">
        <h5 class="card-title">Location</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <!-- apply btn -->
        <button type="button" id="applyJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Apply">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <!-- save btn -->
        <button type="button" id="saveJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Save">
          <i class="far fa-star fa-2x"></i>
        </button>
      </div>
    </div>

  </div>
  <!-- end of second row -->

  <!-- third row -->
  <div class="card-deck">
    <!-- skill-set 5 -->
    <div class="card skill-card">
      <div class="card-body">
        <h5 class="card-title">Skill-set title</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.
          This content is a little bit longer.</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div>
    <div class="card skill-card">
      <!-- skill-set 6 -->
      <div class="card-body">
        <h5 class="card-title">Skill-set title</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- view skill-set -->
        <button type="button" id="view-skillset" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="View Jobs">
          <i class="fas fa-eye fa-1x"></i>
        </button>
      </div>
    </div>
    <!-- job serach output  3-->
    <div class="card job-card">
      <h5 class="card-header" style="border-bottom: 1px solid #fff;">Job Title</h5>

      <div class="card-body">
        <h5 class="card-title">Location</h5>
        <hr style="background-color: #DC4749">

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

        <!-- apply btn -->
        <button type="button" id="applyJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Apply">
          <i class="far fa-check-square fa-2x"></i>
        </button>
        <!-- save btn -->
        <button type="button" id="saveJob" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
          title="Save">
          <i class="far fa-star fa-2x"></i>
        </button>





      </div>
    </div>
  </div>
  <!-- end of third row -->
</div> --}}
<!-- end of skill-set container -->

{{!-- jQuery --}}
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{!-- javascript --}}
  <script src="/js/jobs.js" type="text/javascript"></script>

